# Xcode
.DS_Store
*/build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!*.xcworkspace
*.xcworkspacedata
*.xcuserstate
project.xcworkspace/
xcuserdata/

# Logs
*.log
*.logs
*.log.txt
*.log.zip
*.log.gz
*.log.tar
*.log.tar.gz
*.log.bak
*.log.old
*.log.*
logs/
log/

# Swift
.DS_Store
.build/
.Dependencies/
Package.resolved
*.xcodeproj/
*.playground

# CocoaPods
Pods/
Podfile.lock
*.xcworkspace
!*.xcworkspace

# Carthage
Carthage/Build/

# Private Key
PrivateKey.swift